<div class="row">
  <div class="col-md-12">
    <h1><%= @article.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= sanitize(@article.body, tags: %w(div p b i u strong em blockquote ul ol li h1 h2 h3), attributes: %w(style class id href alt title)) %>
  </div>
</div>

<%= link_to 'Back', articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %>
